
body {
    margin: 0;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stack-y-1 {
    margin-bottom: 4px;
}
.stack-y-2 {
    margin-bottom: 8px;
}
.stack-y-3 {
    margin-bottom: 12px;
}

