.card {
    height: 123px;
    width: 79px;
    border-radius: 6px;
    background-image: url('/card-deck.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

/*
* Yes important.
* We're setting the position for the cards based on data in a style object
**/
.cardHidden {
    background-position: -158px -492px !important;
}
